.form-layout {
    border-radius: 15px;
    width: 500px;
}

.form-text {
    color: rgb(164, 164, 164) !important;
}

.form-group {
    margin-bottom: 10px !important;
}

.table>tbody {
    vertical-align: middle;
}

.message {
    font-size: 18px;
}

#min-height{
    min-height: 70vh;
}